{% macro interface_dest(interface_type) -%}
{%- if interface_type == "senderReceiver" -%}SENDER-RECEIVER-INTERFACE
{%- elif interface_type == "clientServer" -%}CLIENT-SERVER-INTERFACE
{%- elif interface_type == "modeSwitch" -%}MODE-SWITCH-INTERFACE
{%- endif -%}
{%- endmacro %}

{% macro port_dest(direction) -%}
{%- if direction == "provides" -%}P-PORT-PROTOTYPE
{%- else -%}R-PORT-PROTOTYPE
{%- endif -%}
{%- endmacro %}

{% macro compu_category(category) -%}
{%- if category == "linear" -%}LINEAR
{%- elif category == "textTable" -%}TEXTTABLE
{%- else -%}{{ category | upper }}
{%- endif -%}
{%- endmacro %}

{% macro render_application_primitive_data_type(dt, root_pkg) -%}
<APPLICATION-PRIMITIVE-DATA-TYPE>
  <SHORT-NAME>{{ dt.name }}</SHORT-NAME>
  <CATEGORY>VALUE</CATEGORY>
  {% if dt.constraint or dt.unitRef or dt.compuMethodRef %}
  <SW-DATA-DEF-PROPS>
    <SW-DATA-DEF-PROPS-VARIANTS>
      <SW-DATA-DEF-PROPS-CONDITIONAL>
        {% if dt.compuMethodRef %}
        <COMPU-METHOD-REF DEST="COMPU-METHOD">/{{ root_pkg }}/CompuMethods/{{ dt.compuMethodRef }}</COMPU-METHOD-REF>
        {% endif %}
        {% if dt.constraint %}
        <DATA-CONSTR-REF DEST="DATA-CONSTR">/{{ root_pkg }}/DataConstrs/DC_{{ dt.name }}</DATA-CONSTR-REF>
        {% endif %}
        {% if dt.unitRef %}
        <UNIT-REF DEST="UNIT">/{{ root_pkg }}/Units/{{ dt.unitRef }}</UNIT-REF>
        {% endif %}
      </SW-DATA-DEF-PROPS-CONDITIONAL>
    </SW-DATA-DEF-PROPS-VARIANTS>
  </SW-DATA-DEF-PROPS>
  {% endif %}
</APPLICATION-PRIMITIVE-DATA-TYPE>
{%- endmacro %}

{% macro render_init_value(init_value, unit_ref, root_pkg) -%}
<INIT-VALUE>
  <APPLICATION-VALUE-SPECIFICATION>
    <SW-VALUE-CONT>
      {% if unit_ref %}
      <UNIT-REF DEST="UNIT">/{{ root_pkg }}/Units/{{ unit_ref }}</UNIT-REF>
      {% endif %}
      <SW-VALUES-PHYS>
        <V>{% if init_value is boolean %}{{ init_value | string | lower }}{% else %}{{ init_value }}{% endif %}</V>
      </SW-VALUES-PHYS>
    </SW-VALUE-CONT>
  </APPLICATION-VALUE-SPECIFICATION>
</INIT-VALUE>
{%- endmacro %}

{% macro render_compu_method(compu, root_pkg) -%}
<COMPU-METHOD>
  <SHORT-NAME>{{ compu.name }}</SHORT-NAME>
  <CATEGORY>{{ compu_category(compu.category) }}</CATEGORY>
  {% if compu.unitRef %}
  <UNIT-REF DEST="UNIT">/{{ root_pkg }}/Units/{{ compu.unitRef }}</UNIT-REF>
  {% endif %}
  {% if compu.category == "linear" %}
  <COMPU-INTERNAL-TO-PHYS>
    <COMPU-SCALES>
      <COMPU-SCALE>
        {% if compu.physMin is not none %}
        <LOWER-LIMIT INTERVAL-TYPE="CLOSED">{{ compu.physMin }}</LOWER-LIMIT>
        {% endif %}
        {% if compu.physMax is not none %}
        <UPPER-LIMIT INTERVAL-TYPE="CLOSED">{{ compu.physMax }}</UPPER-LIMIT>
        {% endif %}
        <COMPU-RATIONAL-COEFFS>
          <COMPU-NUMERATOR>
            <V>{{ compu.offset if compu.offset is not none else 0 }}</V>
            <V>{{ compu.factor if compu.factor is not none else 1 }}</V>
          </COMPU-NUMERATOR>
          <COMPU-DENOMINATOR>
            <V>1</V>
          </COMPU-DENOMINATOR>
        </COMPU-RATIONAL-COEFFS>
      </COMPU-SCALE>
    </COMPU-SCALES>
  </COMPU-INTERNAL-TO-PHYS>
  {% elif compu.category == "textTable" %}
  <COMPU-INTERNAL-TO-PHYS>
    <COMPU-SCALES>
      {% for entry in compu.entries %}
      <COMPU-SCALE>
        <LOWER-LIMIT INTERVAL-TYPE="CLOSED">{{ entry.value }}</LOWER-LIMIT>
        <UPPER-LIMIT INTERVAL-TYPE="CLOSED">{{ entry.value }}</UPPER-LIMIT>
        <COMPU-CONST>
          <VT>{{ entry.label }}</VT>
        </COMPU-CONST>
      </COMPU-SCALE>
      {% endfor %}
    </COMPU-SCALES>
  </COMPU-INTERNAL-TO-PHYS>
  {% endif %}
</COMPU-METHOD>
{%- endmacro %}

{% macro render_sr_interface(itf, root_pkg, type_trefs) -%}
<SENDER-RECEIVER-INTERFACE>
  <SHORT-NAME>{{ itf.name }}</SHORT-NAME>
  <IS-SERVICE>false</IS-SERVICE>
  <DATA-ELEMENTS>
    {% for de in itf.dataElements %}
    {% set tref = type_trefs.get(de.typeRef) %}
    <VARIABLE-DATA-PROTOTYPE>
      <SHORT-NAME>{{ de.name }}</SHORT-NAME>
      <TYPE-TREF DEST="{{ tref.dest if tref else 'IMPLEMENTATION-DATA-TYPE' }}">/{{ root_pkg }}/{{ tref.package if tref else 'ImplementationDataTypes' }}/{{ de.typeRef }}</TYPE-TREF>
    </VARIABLE-DATA-PROTOTYPE>
    {% endfor %}
  </DATA-ELEMENTS>
</SENDER-RECEIVER-INTERFACE>
{%- endmacro %}

{% macro render_cs_interface(itf, root_pkg, type_trefs, cs_interface_errors) -%}
<CLIENT-SERVER-INTERFACE>
  <SHORT-NAME>{{ itf.name }}</SHORT-NAME>
  <IS-SERVICE>false</IS-SERVICE>
  {% if cs_interface_errors[itf.name] %}
  <POSSIBLE-ERRORS>
    {% for possible_error in cs_interface_errors[itf.name] %}
    <APPLICATION-ERROR>
      <SHORT-NAME>{{ possible_error.name }}</SHORT-NAME>
      {% if possible_error.code is not none %}
      <ERROR-CODE>{{ possible_error.code }}</ERROR-CODE>
      {% endif %}
    </APPLICATION-ERROR>
    {% endfor %}
  </POSSIBLE-ERRORS>
  {% endif %}
  <OPERATIONS>
    {% for op in itf.operations %}
    <CLIENT-SERVER-OPERATION>
      <SHORT-NAME>{{ op.name }}</SHORT-NAME>
      {% if op.arguments or op.returnType != "void" %}
      <ARGUMENTS>
        {% for arg in op.arguments %}
        {% set tref = type_trefs.get(arg.typeRef) %}
        <ARGUMENT-DATA-PROTOTYPE>
          <SHORT-NAME>{{ arg.name }}</SHORT-NAME>
          <TYPE-TREF DEST="{{ tref.dest if tref else 'IMPLEMENTATION-DATA-TYPE' }}">/{{ root_pkg }}/{{ tref.package if tref else 'ImplementationDataTypes' }}/{{ arg.typeRef }}</TYPE-TREF>
          <DIRECTION>{{ arg.direction | upper }}</DIRECTION>
        </ARGUMENT-DATA-PROTOTYPE>
        {% endfor %}
        {% if op.returnType != "void" %}
        {% set return_tref = type_trefs.get(op.returnType) %}
        <ARGUMENT-DATA-PROTOTYPE>
          <SHORT-NAME>ReturnValue</SHORT-NAME>
          <TYPE-TREF DEST="{{ return_tref.dest if return_tref else 'IMPLEMENTATION-DATA-TYPE' }}">/{{ root_pkg }}/{{ return_tref.package if return_tref else 'ImplementationDataTypes' }}/{{ op.returnType }}</TYPE-TREF>
          <DIRECTION>OUT</DIRECTION>
        </ARGUMENT-DATA-PROTOTYPE>
        {% endif %}
      </ARGUMENTS>
      {% endif %}
      {% if op.possibleErrors %}
      <POSSIBLE-ERROR-REFS>
        {% for possible_error in op.possibleErrors %}
        <POSSIBLE-ERROR-REF DEST="APPLICATION-ERROR">/{{ root_pkg }}/Interfaces/{{ itf.name }}/{{ possible_error.name }}</POSSIBLE-ERROR-REF>
        {% endfor %}
      </POSSIBLE-ERROR-REFS>
      {% endif %}
    </CLIENT-SERVER-OPERATION>
    {% endfor %}
  </OPERATIONS>
</CLIENT-SERVER-INTERFACE>
{%- endmacro %}

{% macro render_ms_interface(itf, root_pkg) -%}
<MODE-SWITCH-INTERFACE>
  <SHORT-NAME>{{ itf.name }}</SHORT-NAME>
  <IS-SERVICE>false</IS-SERVICE>
  <MODE-GROUP>
    <SHORT-NAME>{{ itf.name }}_ModeGroup</SHORT-NAME>
    <TYPE-TREF DEST="MODE-DECLARATION-GROUP">/{{ root_pkg }}/Modes/{{ itf.modeGroupRef }}</TYPE-TREF>
  </MODE-GROUP>
</MODE-SWITCH-INTERFACE>
{%- endmacro %}

{% macro render_mode_declaration_group(group, root_pkg) -%}
<MODE-DECLARATION-GROUP>
  <SHORT-NAME>{{ group.name }}</SHORT-NAME>
  <CATEGORY>{{ group.category }}</CATEGORY>
  <INITIAL-MODE-REF DEST="MODE-DECLARATION">/{{ root_pkg }}/Modes/{{ group.name }}/{{ group.initialMode }}</INITIAL-MODE-REF>
  <MODE-DECLARATIONS>
    {% for mode in group.modes %}
    <MODE-DECLARATION>
      <SHORT-NAME>{{ mode.name }}</SHORT-NAME>
      {% if mode.value is not none %}
      <VALUE>{{ mode.value }}</VALUE>
      {% endif %}
    </MODE-DECLARATION>
    {% endfor %}
  </MODE-DECLARATIONS>
  {% if group.onTransitionValue is not none %}
  <ON-TRANSITION-VALUE>{{ group.onTransitionValue }}</ON-TRANSITION-VALUE>
  {% endif %}
</MODE-DECLARATION-GROUP>
{%- endmacro %}

{% macro render_port(port, root_pkg, sr_port_metadata) -%}
{% if port.direction == "provides" %}
<P-PORT-PROTOTYPE>
  <SHORT-NAME>{{ port.name }}</SHORT-NAME>
  {% if port.interfaceType == "senderReceiver" %}
  {% if port.comSpec %}
  <PROVIDED-COM-SPECS>
    {% if port.comSpec.mode == "queued" %}
    <QUEUED-SENDER-COM-SPEC>
      <QUEUE-LENGTH>{{ port.comSpec.queueLength }}</QUEUE-LENGTH>
    </QUEUED-SENDER-COM-SPEC>
    {% else %}
    <NONQUEUED-SENDER-COM-SPEC>
    </NONQUEUED-SENDER-COM-SPEC>
    {% endif %}
  </PROVIDED-COM-SPECS>
  {% endif %}
  <PROVIDED-INTERFACE-TREF DEST="SENDER-RECEIVER-INTERFACE">/{{ root_pkg }}/Interfaces/{{ port.interfaceRef }}</PROVIDED-INTERFACE-TREF>
  {% elif port.interfaceType == "clientServer" %}
  {% if port.comSpec and port.comSpec.callMode %}
  <PROVIDED-COM-SPECS>
    <SERVER-COM-SPEC>
      <CALL-MODE>{{ port.comSpec.callMode }}</CALL-MODE>
      {% if port.comSpec.callMode == "synchronous" and port.comSpec.timeoutMs is not none %}
      <TIMEOUT-MS>{{ port.comSpec.timeoutMs }}</TIMEOUT-MS>
      {% endif %}
    </SERVER-COM-SPEC>
  </PROVIDED-COM-SPECS>
  {% endif %}
  <PROVIDED-INTERFACE-TREF DEST="CLIENT-SERVER-INTERFACE">/{{ root_pkg }}/Interfaces/{{ port.interfaceRef }}</PROVIDED-INTERFACE-TREF>
  {% elif port.interfaceType == "modeSwitch" %}
  <PROVIDED-INTERFACE-TREF DEST="MODE-SWITCH-INTERFACE">/{{ root_pkg }}/Interfaces/{{ port.interfaceRef }}</PROVIDED-INTERFACE-TREF>
  {% endif %}
</P-PORT-PROTOTYPE>
{% else %}
<R-PORT-PROTOTYPE>
  <SHORT-NAME>{{ port.name }}</SHORT-NAME>
  {% if port.interfaceType == "senderReceiver" %}
  {% set metadata = sr_port_metadata.get(port.name) %}
  {% if port.comSpec %}
  <REQUIRED-COM-SPECS>
    {% if port.comSpec.mode == "queued" %}
    <QUEUED-RECEIVER-COM-SPEC>
      {% if metadata %}
      <DATA-ELEMENT-REF DEST="VARIABLE-DATA-PROTOTYPE">{{ metadata.data_element_ref }}</DATA-ELEMENT-REF>
      {% endif %}
      <QUEUE-LENGTH>{{ port.comSpec.queueLength }}</QUEUE-LENGTH>
    </QUEUED-RECEIVER-COM-SPEC>
    {% else %}
    <NONQUEUED-RECEIVER-COM-SPEC>
      {% if metadata %}
      <DATA-ELEMENT-REF DEST="VARIABLE-DATA-PROTOTYPE">{{ metadata.data_element_ref }}</DATA-ELEMENT-REF>
      {% endif %}
      {% if port.comSpec.mode == "explicit" %}
      <ENABLE-UPDATE>true</ENABLE-UPDATE>
      {% elif port.comSpec.mode == "implicit" %}
      <ENABLE-UPDATE>false</ENABLE-UPDATE>
      {% endif %}
      {% if port.comSpec.initValue is not none %}
      {{ render_init_value(port.comSpec.initValue, metadata.unit_ref if metadata else none, root_pkg) }}
      {% endif %}
    </NONQUEUED-RECEIVER-COM-SPEC>
    {% endif %}
  </REQUIRED-COM-SPECS>
  {% endif %}
  <REQUIRED-INTERFACE-TREF DEST="SENDER-RECEIVER-INTERFACE">/{{ root_pkg }}/Interfaces/{{ port.interfaceRef }}</REQUIRED-INTERFACE-TREF>
  {% elif port.interfaceType == "clientServer" %}
  {% if port.comSpec and port.comSpec.callMode %}
  <REQUIRED-COM-SPECS>
    <CLIENT-COM-SPEC>
      <CALL-MODE>{{ port.comSpec.callMode }}</CALL-MODE>
      {% if port.comSpec.callMode == "synchronous" and port.comSpec.timeoutMs is not none %}
      <TIMEOUT-MS>{{ port.comSpec.timeoutMs }}</TIMEOUT-MS>
      {% endif %}
    </CLIENT-COM-SPEC>
  </REQUIRED-COM-SPECS>
  {% endif %}
  <REQUIRED-INTERFACE-TREF DEST="CLIENT-SERVER-INTERFACE">/{{ root_pkg }}/Interfaces/{{ port.interfaceRef }}</REQUIRED-INTERFACE-TREF>
  {% elif port.interfaceType == "modeSwitch" %}
  <REQUIRED-INTERFACE-TREF DEST="MODE-SWITCH-INTERFACE">/{{ root_pkg }}/Interfaces/{{ port.interfaceRef }}</REQUIRED-INTERFACE-TREF>
  {% endif %}
</R-PORT-PROTOTYPE>
{% endif %}
{%- endmacro %}

{% macro render_swc_events(swc, root_pkg) -%}
<EVENTS>
  {% for r in swc.runnables %}
  {% if r.initEvent %}
  <INIT-EVENT>
    <SHORT-NAME>IE_{{ r.name }}</SHORT-NAME>
    <START-ON-EVENT-REF DEST="RUNNABLE-ENTITY">/{{ root_pkg }}/Components/{{ swc.name }}/IB_{{ swc.name }}/{{ r.name }}</START-ON-EVENT-REF>
  </INIT-EVENT>
  {% endif %}
  {% if r.timingEventMs is not none %}
  <TIMING-EVENT>
    <SHORT-NAME>TE_{{ r.name }}</SHORT-NAME>
    <START-ON-EVENT-REF DEST="RUNNABLE-ENTITY">/{{ root_pkg }}/Components/{{ swc.name }}/IB_{{ swc.name }}/{{ r.name }}</START-ON-EVENT-REF>
    <PERIOD>{{ (r.timingEventMs / 1000.0) }}</PERIOD>
  </TIMING-EVENT>
  {% endif %}
  {% for oie in r.operationInvokedEvents %}
  {% set oie_port = (swc.ports | selectattr("name", "equalto", oie.port) | list | first) %}
  <OPERATION-INVOKED-EVENT>
    <SHORT-NAME>OIE_{{ r.name }}_{{ oie.port }}_{{ oie.operation }}</SHORT-NAME>
    <START-ON-EVENT-REF DEST="RUNNABLE-ENTITY">/{{ root_pkg }}/Components/{{ swc.name }}/IB_{{ swc.name }}/{{ r.name }}</START-ON-EVENT-REF>
    <OPERATION-IREF>
      <CONTEXT-P-PORT-REF DEST="P-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ oie.port }}</CONTEXT-P-PORT-REF>
      <TARGET-PROVIDED-OPERATION-REF DEST="CLIENT-SERVER-OPERATION">/{{ root_pkg }}/Interfaces/{{ oie_port.interfaceRef if oie_port else '' }}/{{ oie.operation }}</TARGET-PROVIDED-OPERATION-REF>
    </OPERATION-IREF>
  </OPERATION-INVOKED-EVENT>
  {% endfor %}
  {% for dre in r.dataReceiveEvents %}
  {% set dre_port = (swc.ports | selectattr("name", "equalto", dre.port) | list | first) %}
  <DATA-RECEIVE-EVENT>
    <SHORT-NAME>DRE_{{ r.name }}_{{ dre.port }}_{{ dre.dataElement }}</SHORT-NAME>
    <START-ON-EVENT-REF DEST="RUNNABLE-ENTITY">/{{ root_pkg }}/Components/{{ swc.name }}/IB_{{ swc.name }}/{{ r.name }}</START-ON-EVENT-REF>
    <DATA-IREF>
      <CONTEXT-R-PORT-REF DEST="R-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ dre.port }}</CONTEXT-R-PORT-REF>
      <TARGET-DATA-ELEMENT-REF DEST="VARIABLE-DATA-PROTOTYPE">/{{ root_pkg }}/Interfaces/{{ dre_port.interfaceRef if dre_port else '' }}/{{ dre.dataElement }}</TARGET-DATA-ELEMENT-REF>
    </DATA-IREF>
  </DATA-RECEIVE-EVENT>
  {% endfor %}
  {% for mse in r.modeSwitchEvents %}
  {% set mse_port = (swc.ports | selectattr("name", "equalto", mse.port) | list | first) %}
  <SWC-MODE-SWITCH-EVENT>
    <SHORT-NAME>MSE_{{ r.name }}_{{ mse.port }}_{{ mse.mode }}</SHORT-NAME>
    <START-ON-EVENT-REF DEST="RUNNABLE-ENTITY">/{{ root_pkg }}/Components/{{ swc.name }}/IB_{{ swc.name }}/{{ r.name }}</START-ON-EVENT-REF>
    <MODE-IREFS>
      <MODE-IREF>
        <CONTEXT-PORT-REF DEST="R-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ mse.port }}</CONTEXT-PORT-REF>
        <CONTEXT-MODE-DECLARATION-GROUP-PROTOTYPE-REF DEST="MODE-DECLARATION-GROUP-PROTOTYPE">/{{ root_pkg }}/Interfaces/{{ mse_port.interfaceRef if mse_port else '' }}/{{ mse_port.interfaceRef if mse_port else '' }}_ModeGroup</CONTEXT-MODE-DECLARATION-GROUP-PROTOTYPE-REF>
        <TARGET-MODE-DECLARATION-REF DEST="MODE-DECLARATION">/{{ root_pkg }}/Modes/{{ mse_port.modeGroupRef if mse_port else '' }}/{{ mse.mode }}</TARGET-MODE-DECLARATION-REF>
      </MODE-IREF>
    </MODE-IREFS>
  </SWC-MODE-SWITCH-EVENT>
  {% endfor %}
  {% endfor %}
</EVENTS>
{%- endmacro %}

{% macro render_swc_runnables(swc, root_pkg) -%}
<RUNNABLES>
  {% for r in swc.runnables %}
  <RUNNABLE-ENTITY>
    <SHORT-NAME>{{ r.name }}</SHORT-NAME>
    <CAN-BE-INVOKED-CONCURRENTLY>false</CAN-BE-INVOKED-CONCURRENTLY>
    {% if r.reads %}
    <DATA-RECEIVE-POINT-BY-ARGUMENTS>
      {% for read in r.reads %}
      {% set read_port = (swc.ports | selectattr("name", "equalto", read.port) | list | first) %}
      <VARIABLE-ACCESS>
        <SHORT-NAME>DRP_{{ read.port }}_{{ read.dataElement }}</SHORT-NAME>
        <ACCESSED-VARIABLE>
          <AUTOSAR-VARIABLE-IREF>
            <PORT-PROTOTYPE-REF DEST="R-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ read.port }}</PORT-PROTOTYPE-REF>
            <TARGET-DATA-PROTOTYPE-REF DEST="VARIABLE-DATA-PROTOTYPE">/{{ root_pkg }}/Interfaces/{{ read_port.interfaceRef if read_port else '' }}/{{ read.dataElement }}</TARGET-DATA-PROTOTYPE-REF>
          </AUTOSAR-VARIABLE-IREF>
        </ACCESSED-VARIABLE>
      </VARIABLE-ACCESS>
      {% endfor %}
    </DATA-RECEIVE-POINT-BY-ARGUMENTS>
    {% endif %}
    {% if r.writes %}
    <DATA-SEND-POINTS>
      {% for write in r.writes %}
      {% set write_port = (swc.ports | selectattr("name", "equalto", write.port) | list | first) %}
      <VARIABLE-ACCESS>
        <SHORT-NAME>DSP_{{ write.port }}_{{ write.dataElement }}</SHORT-NAME>
        <ACCESSED-VARIABLE>
          <AUTOSAR-VARIABLE-IREF>
            <PORT-PROTOTYPE-REF DEST="P-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ write.port }}</PORT-PROTOTYPE-REF>
            <TARGET-DATA-PROTOTYPE-REF DEST="VARIABLE-DATA-PROTOTYPE">/{{ root_pkg }}/Interfaces/{{ write_port.interfaceRef if write_port else '' }}/{{ write.dataElement }}</TARGET-DATA-PROTOTYPE-REF>
          </AUTOSAR-VARIABLE-IREF>
        </ACCESSED-VARIABLE>
      </VARIABLE-ACCESS>
      {% endfor %}
    </DATA-SEND-POINTS>
    {% endif %}
    {% if r.calls %}
    <SERVER-CALL-POINTS>
      {% for call in r.calls %}
      {% set call_port = (swc.ports | selectattr("name", "equalto", call.port) | list | first) %}
      {% set call_mode = call_port.comSpec.callMode if call_port and call_port.comSpec and call_port.comSpec.callMode else "synchronous" %}
      {% if call_mode == "asynchronous" %}
      <ASYNCHRONOUS-SERVER-CALL-POINT>
        <SHORT-NAME>SCP_{{ call.port }}_{{ call.operation }}</SHORT-NAME>
        <OPERATION-IREF>
          <CONTEXT-R-PORT-REF DEST="R-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ call.port }}</CONTEXT-R-PORT-REF>
          <TARGET-REQUIRED-OPERATION-REF DEST="CLIENT-SERVER-OPERATION">/{{ root_pkg }}/Interfaces/{{ call_port.interfaceRef if call_port else '' }}/{{ call.operation }}</TARGET-REQUIRED-OPERATION-REF>
        </OPERATION-IREF>
      </ASYNCHRONOUS-SERVER-CALL-POINT>
      {% else %}
      <SYNCHRONOUS-SERVER-CALL-POINT>
        <SHORT-NAME>SCP_{{ call.port }}_{{ call.operation }}</SHORT-NAME>
        <OPERATION-IREF>
          <CONTEXT-R-PORT-REF DEST="R-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ call.port }}</CONTEXT-R-PORT-REF>
          <TARGET-REQUIRED-OPERATION-REF DEST="CLIENT-SERVER-OPERATION">/{{ root_pkg }}/Interfaces/{{ call_port.interfaceRef if call_port else '' }}/{{ call.operation }}</TARGET-REQUIRED-OPERATION-REF>
        </OPERATION-IREF>
      </SYNCHRONOUS-SERVER-CALL-POINT>
      {% endif %}
      {% endfor %}
    </SERVER-CALL-POINTS>
    {% endif %}
    {% if r.raisesErrors %}
    <RAISED-APPLICATION-ERROR-REFS>
      {% for raised in r.raisesErrors %}
      {% set bound_event = (r.operationInvokedEvents | selectattr("operation", "equalto", raised.operation) | list | first) %}
      {% set bound_port = (swc.ports | selectattr("name", "equalto", bound_event.port) | list | first) if bound_event else none %}
      {% if bound_event and bound_port %}
      <RAISED-APPLICATION-ERROR-REF>
        <CONTEXT-P-PORT-REF DEST="P-PORT-PROTOTYPE">/{{ root_pkg }}/Components/{{ swc.name }}/{{ bound_event.port }}</CONTEXT-P-PORT-REF>
        <TARGET-PROVIDED-OPERATION-REF DEST="CLIENT-SERVER-OPERATION">/{{ root_pkg }}/Interfaces/{{ bound_port.interfaceRef }}/{{ raised.operation }}</TARGET-PROVIDED-OPERATION-REF>
        <TARGET-APPLICATION-ERROR-REF DEST="APPLICATION-ERROR">/{{ root_pkg }}/Interfaces/{{ bound_port.interfaceRef }}/{{ raised.error }}</TARGET-APPLICATION-ERROR-REF>
      </RAISED-APPLICATION-ERROR-REF>
      {% endif %}
      {% endfor %}
    </RAISED-APPLICATION-ERROR-REFS>
    {% endif %}
  </RUNNABLE-ENTITY>
  {% endfor %}
</RUNNABLES>
{%- endmacro %}

{% macro render_swc_component(swc, root_pkg, sr_port_metadata) -%}
<{{ swc.component_type_tag }}>
  <SHORT-NAME>{{ swc.name }}</SHORT-NAME>
  <PORTS>
    {% for port in swc.ports %}
    {{ render_port(port, root_pkg, sr_port_metadata) }}
    {% endfor %}
  </PORTS>
  <INTERNAL-BEHAVIORS>
    <SWC-INTERNAL-BEHAVIOR>
      <SHORT-NAME>IB_{{ swc.name }}</SHORT-NAME>
      {{ render_swc_events(swc, root_pkg) }}
      {{ render_swc_runnables(swc, root_pkg) }}
    </SWC-INTERNAL-BEHAVIOR>
  </INTERNAL-BEHAVIORS>
</{{ swc.component_type_tag }}>
{%- endmacro %}

{% macro render_assembly_connector(connector) -%}
<ASSEMBLY-SW-CONNECTOR>
  <SHORT-NAME>{{ connector.short_name }}</SHORT-NAME>
  <PROVIDER-IREF>
    <CONTEXT-COMPONENT-REF DEST="SW-COMPONENT-PROTOTYPE">{{ connector.provider.context_component_ref }}</CONTEXT-COMPONENT-REF>
    <TARGET-P-PORT-REF DEST="{{ connector.provider.port.dest }}">{{ connector.provider.port.ref }}</TARGET-P-PORT-REF>
  </PROVIDER-IREF>
  <REQUESTER-IREF>
    <CONTEXT-COMPONENT-REF DEST="SW-COMPONENT-PROTOTYPE">{{ connector.requester.context_component_ref }}</CONTEXT-COMPONENT-REF>
    <TARGET-R-PORT-REF DEST="{{ connector.requester.port.dest }}">{{ connector.requester.port.ref }}</TARGET-R-PORT-REF>
  </REQUESTER-IREF>
</ASSEMBLY-SW-CONNECTOR>
{%- endmacro %}

{% macro render_delegation_connector(connector) -%}
<DELEGATION-SW-CONNECTOR>
  <SHORT-NAME>{{ connector.short_name }}</SHORT-NAME>
  <INNER-PORT-IREF>
    {% if connector.inner.port.dest == "P-PORT-PROTOTYPE" %}
    <P-PORT-IN-COMPOSITION-INSTANCE-REF>
      <CONTEXT-COMPONENT-REF DEST="SW-COMPONENT-PROTOTYPE">{{ connector.inner.context_component_ref }}</CONTEXT-COMPONENT-REF>
      <TARGET-P-PORT-REF DEST="{{ connector.inner.port.dest }}">{{ connector.inner.port.ref }}</TARGET-P-PORT-REF>
    </P-PORT-IN-COMPOSITION-INSTANCE-REF>
    {% else %}
    <R-PORT-IN-COMPOSITION-INSTANCE-REF>
      <CONTEXT-COMPONENT-REF DEST="SW-COMPONENT-PROTOTYPE">{{ connector.inner.context_component_ref }}</CONTEXT-COMPONENT-REF>
      <TARGET-R-PORT-REF DEST="{{ connector.inner.port.dest }}">{{ connector.inner.port.ref }}</TARGET-R-PORT-REF>
    </R-PORT-IN-COMPOSITION-INSTANCE-REF>
    {% endif %}
  </INNER-PORT-IREF>
  <OUTER-PORT-REF DEST="{{ connector.outer.dest }}">{{ connector.outer.ref }}</OUTER-PORT-REF>
</DELEGATION-SW-CONNECTOR>
{%- endmacro %}
