<?xml version="1.0" encoding="UTF-8"?>
{% import "arxml/_autosar_macros.j2" as arxml %}
<AUTOSAR xmlns="http://autosar.org/schema/r4.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://autosar.org/schema/r4.0 AUTOSAR_4-2-2.xsd">
  <AR-PACKAGES>
    <AR-PACKAGE>
      <SHORT-NAME>{{ root_pkg }}</SHORT-NAME>
      <AR-PACKAGES>

        <AR-PACKAGE>
          <SHORT-NAME>BaseTypes</SHORT-NAME>
          <ELEMENTS>
            {% for dt in base_types %}
            <SW-BASE-TYPE>
              <SHORT-NAME>{{ dt.name }}</SHORT-NAME>
              <CATEGORY>{{ dt.category }}</CATEGORY>
              {% if dt.bitLength is not none %}
              <BASE-TYPE-SIZE>{{ dt.bitLength }}</BASE-TYPE-SIZE>
              {% endif %}
              {% if dt.signedness == "signed" %}
              <BASE-TYPE-ENCODING>2C</BASE-TYPE-ENCODING>
              {% elif dt.signedness == "unsigned" %}
              <BASE-TYPE-ENCODING>NONE</BASE-TYPE-ENCODING>
              {% endif %}
              {% if dt.nativeDeclaration %}
              <NATIVE-DECLARATION>{{ dt.nativeDeclaration }}</NATIVE-DECLARATION>
              {% endif %}
            </SW-BASE-TYPE>
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>ImplementationDataTypes</SHORT-NAME>
          <ELEMENTS>
            {% for dt in implementation_types %}
            <IMPLEMENTATION-DATA-TYPE>
              <SHORT-NAME>{{ dt.name }}</SHORT-NAME>
              {% if dt.is_struct %}
              <CATEGORY>STRUCTURE</CATEGORY>
              <SUB-ELEMENTS>
                {% for f in dt.fields %}
                <IMPLEMENTATION-DATA-TYPE-ELEMENT>
                  <SHORT-NAME>{{ f.name }}</SHORT-NAME>
                  {% set tref = type_trefs.get(f.typeRef) %}
                  <CATEGORY>TYPE_REFERENCE</CATEGORY>
                  <SW-DATA-DEF-PROPS>
                    <SW-DATA-DEF-PROPS-VARIANTS>
                      <SW-DATA-DEF-PROPS-CONDITIONAL>
                        <IMPLEMENTATION-DATA-TYPE-REF DEST="{{ tref.dest if tref else 'IMPLEMENTATION-DATA-TYPE' }}">/{{ root_pkg }}/{{ tref.package if tref else 'ImplementationDataTypes' }}/{{ f.typeRef }}</IMPLEMENTATION-DATA-TYPE-REF>
                      </SW-DATA-DEF-PROPS-CONDITIONAL>
                    </SW-DATA-DEF-PROPS-VARIANTS>
                  </SW-DATA-DEF-PROPS>
                </IMPLEMENTATION-DATA-TYPE-ELEMENT>
                {% endfor %}
              </SUB-ELEMENTS>
              {% elif dt.is_array %}
              <CATEGORY>ARRAY</CATEGORY>
              <SUB-ELEMENTS>
                <IMPLEMENTATION-DATA-TYPE-ELEMENT>
                  <SHORT-NAME>{{ dt.name }}_Element</SHORT-NAME>
                  {% set tref = type_trefs.get(dt.elementTypeRef) %}
                  <TYPE-TREF DEST="{{ tref.dest if tref else 'IMPLEMENTATION-DATA-TYPE' }}">/{{ root_pkg }}/{{ tref.package if tref else 'ImplementationDataTypes' }}/{{ dt.elementTypeRef }}</TYPE-TREF>
                  <ARRAY-SIZE>{{ dt.length }}</ARRAY-SIZE>
                </IMPLEMENTATION-DATA-TYPE-ELEMENT>
              </SUB-ELEMENTS>
              {% else %}
              <CATEGORY>TYPE_REFERENCE</CATEGORY>
              {% endif %}
            </IMPLEMENTATION-DATA-TYPE>
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>ApplicationDataTypes</SHORT-NAME>
          <ELEMENTS>
            {% for dt in application_types %}
            {{ arxml.render_application_primitive_data_type(dt, root_pkg) }}
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>DataConstrs</SHORT-NAME>
          <ELEMENTS>
            {% for dt in application_types if dt.constraint %}
            <DATA-CONSTR>
              <SHORT-NAME>DC_{{ dt.name }}</SHORT-NAME>
              <DATA-CONSTR-RULES>
                <DATA-CONSTR-RULE>
                  <INTERNAL-CONSTRS>
                    <LOWER-LIMIT INTERVAL-TYPE="CLOSED">{{ dt.constraint.min }}</LOWER-LIMIT>
                    <UPPER-LIMIT INTERVAL-TYPE="CLOSED">{{ dt.constraint.max }}</UPPER-LIMIT>
                  </INTERNAL-CONSTRS>
                </DATA-CONSTR-RULE>
              </DATA-CONSTR-RULES>
            </DATA-CONSTR>
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>Units</SHORT-NAME>
          <ELEMENTS>
            {% for u in units %}
            <UNIT>
              <SHORT-NAME>{{ u.name }}</SHORT-NAME>
              {% if u.displayName %}
              <DISPLAY-NAME>{{ u.displayName }}</DISPLAY-NAME>
              {% endif %}
            </UNIT>
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>CompuMethods</SHORT-NAME>
          <ELEMENTS>
            {% for c in compu_methods %}
            {{ arxml.render_compu_method(c, root_pkg) }}
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>Modes</SHORT-NAME>
          <ELEMENTS>
            {% for group in mode_declaration_groups %}
            {{ arxml.render_mode_declaration_group(group, root_pkg) }}
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>Interfaces</SHORT-NAME>
          <ELEMENTS>

            {% for itf in sr_interfaces %}
            {{ arxml.render_sr_interface(itf, root_pkg, type_trefs) }}
            {% endfor %}

            {% for itf in cs_interfaces %}
            {{ arxml.render_cs_interface(itf, root_pkg, type_trefs, cs_interface_errors) }}
            {% endfor %}

            {% for itf in ms_interfaces %}
            {{ arxml.render_ms_interface(itf, root_pkg) }}
            {% endfor %}

          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>Components</SHORT-NAME>
          <ELEMENTS>
            {% for swc in swcs %}
            {{ arxml.render_swc_component(swc, root_pkg, swc_sr_port_metadata[swc.name], swc_cs_port_metadata[swc.name]) }}
            {% endfor %}
            {% for subcomposition in subcompositions %}
            <COMPOSITION-SW-COMPONENT-TYPE>
              <SHORT-NAME>{{ subcomposition.name }}</SHORT-NAME>
              {% if subcomposition.ports %}
              <PORTS>
                {% for p in subcomposition.ports %}
                {{ arxml.render_port(p, root_pkg, {}, {}) }}
                {% endfor %}
              </PORTS>
              {% endif %}
              <COMPONENTS>
                {% for i in subcomposition.components %}
                <SW-COMPONENT-PROTOTYPE>
                  <SHORT-NAME>{{ i.name }}</SHORT-NAME>
                  <TYPE-TREF DEST="{{ component_type_dests[i.typeRef] }}">{{ component_type_refs[i.typeRef] }}</TYPE-TREF>
                </SW-COMPONENT-PROTOTYPE>
                {% endfor %}
              </COMPONENTS>
              <CONNECTORS>
                {% for c in subcomposition.connections %}
                {{ arxml.render_assembly_connector(c) }}
                {% endfor %}
                {% for c in subcomposition.delegation_connectors %}
                {{ arxml.render_delegation_connector(c) }}
                {% endfor %}
              </CONNECTORS>
            </COMPOSITION-SW-COMPONENT-TYPE>
            {% endfor %}
          </ELEMENTS>
        </AR-PACKAGE>

        <AR-PACKAGE>
          <SHORT-NAME>System</SHORT-NAME>
          <ELEMENTS>
            <COMPOSITION-SW-COMPONENT-TYPE>
              <SHORT-NAME>{{ composition_name }}</SHORT-NAME>
              <COMPONENTS>
                {% for i in instances %}
                <SW-COMPONENT-PROTOTYPE>
                  <SHORT-NAME>{{ i.name }}</SHORT-NAME>
                  <TYPE-TREF DEST="{{ component_type_dests[i.typeRef] }}">{{ component_type_refs[i.typeRef] }}</TYPE-TREF>
                </SW-COMPONENT-PROTOTYPE>
                {% endfor %}
              </COMPONENTS>
              <CONNECTORS>
                {% for c in connections %}
                {{ arxml.render_assembly_connector(c) }}
                {% endfor %}
              </CONNECTORS>
            </COMPOSITION-SW-COMPONENT-TYPE>
            <SYSTEM>
              <SHORT-NAME>{{ system_name }}</SHORT-NAME>
              <ROOT-SOFTWARE-COMPOSITIONS>
                <ROOT-SW-COMPOSITION-PROTOTYPE>
                  <SHORT-NAME>RootComposition</SHORT-NAME>
                  <SOFTWARE-COMPOSITION-TREF DEST="COMPOSITION-SW-COMPONENT-TYPE">/{{ root_pkg }}/System/{{ composition_name }}</SOFTWARE-COMPOSITION-TREF>
                </ROOT-SW-COMPOSITION-PROTOTYPE>
              </ROOT-SOFTWARE-COMPOSITIONS>
            </SYSTEM>
          </ELEMENTS>
        </AR-PACKAGE>

      </AR-PACKAGES>
    </AR-PACKAGE>
  </AR-PACKAGES>
</AUTOSAR>
