<?xml version="1.0" encoding="UTF-8"?>
{% import "arxml/_autosar_macros.j2" as arxml %}
<AUTOSAR xmlns="http://autosar.org/schema/r4.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://autosar.org/schema/r4.0 AUTOSAR_4-2-2.xsd">
  <AR-PACKAGES>
    <AR-PACKAGE>
      <SHORT-NAME>{{ root_pkg }}</SHORT-NAME>
      <AR-PACKAGES>
        {{ arxml.render_package_tree(package_tree, paths, type_trefs, cs_interface_errors, {}, {}, {}, subcomposition_models, {}, component_type_dests, component_type_refs) }}
      </AR-PACKAGES>
    </AR-PACKAGE>
  </AR-PACKAGES>
</AUTOSAR>
